html {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Handlee', cursive;
    font-size: 13pt;
    background-color: #efefef;
    padding: 10px;
    margin: 0;
    animation-name: cuerpo;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
@keyframes cuerpo {
    25% {background-color: #CDCDCD;}
    50% {background-color: #FFE6A2;}
    75% {background-color: #80E5B1;}
}
#circulo {
    background-color: #92E8E8;
    animation-name: color;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
@keyframes color {
    25% {background-color: #FFCD45;}
    50% {background-color: #76287B;}
    75% {background-color: #167E7D;}
    100% {background-color: #92E8E8;}
}

@keyframes anim {
    0% {transform: scale(1)}
    50% {transform: scale(2)}
    100% {transform: scale(1)}
}
h1 {
    font-size: 15pt;
    color: #ff0080;
    text-align: center;
    padding: 18px 0 18px 0;
    margin: 0 0 10px 0;
}
h1 span {
    border: 4px dashed #20bcd5;
    padding: 10px;
}
p {
    padding: 0;
    color: white;
    margin: 0;
}
.img-circulo {
    border: 3px solid white;
    border-radius: 50%;
    position: static;
    top: 10px;
    right: 30px;
}
.section {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
}
#header {
    background-image: url("img/dual-monitor-anime-1.jpeg");
    background-size: 3400px;
}
#header img {
    display: block;
    width: 80px;
    height: 80px;
    margin: auto;
    opacity: 0.8
}
#header p {
    font-size: 25pt;
    color: #3b464c;
    padding-top: 5px;
    margin: 0;
    font-weight: bold;
    text-align: center;
}
#hola {
    background-image: url("img/oxygen-getty-images-1366x768.jpg");
    background-size: cover;
}
.quote {
    font-size: 12pt;
    text-align: right;
    margin-top: 10px;
}
table {
    width: 100%;
    font-size: 11pt;
}
table, th, td {
    border: 2px solid #cecece;
    border-collapse: collapse;
    text-align: center;
    table-layout: fixed;
}
.inf111 {
    background-color: #f36f48;
    font-weight: bold;
    color: white;
}
.mat115 {
    background-color: gray;
    font-weight: bold;
    color: white;
}
.inf113 {
    background-color: red;
    font-weight: bold;
    color: white;
}
.lab111 {
    background-color: green;
    font-weight: bold;
    color: white;
}
.inf112 {
    background-color: skyblue;
    font-weight: bold;
    color: white;
}
.mat114 {
    background-color: yellow;
    font-weight: bold;
    color: white;
}
.lin116 {
    background-color: violet;
    font-weight: bold;
    color: white;
}
li {
    margin-bottom: 15px;
    font-weight: bold;
}
#foto {
    
    background-size: contain;
}
progress {
    width: 70%;
    height: 20px;
    color: #3fb6b2;
    background: #efefef;
    opacity: 0.8
}
progress::-webkit-progress-bar {
    background: #efefef;
}
progress::-webkit-progress-value {
    background: #3fb6b2;
} 
progress::-moz-progress-bar {
    color: #3fb6b2;
    background: #efefef;
}
iframe, audio {
    display: block;
    margin: 0 auto;
    border: 3px solid #3fb6b2;
}
hr {
    border: 0;
    height: 1px;
    background: #f36f48;
}
#ima {
    
    background-size: cover;
}
#lol {
    background-image:url("img/IMG_maqn1.jpg");
    background-size: contain;
}
form {
    text-align: center;
    margin-top: 0;
    opacity: 0.8;
}
.submit {
    background-color: #3fb6b2;
    padding: 12px 45px;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
    border: none;
    outline: none;
    margin: 0;
    font-weight: bold;
}
.submit:hover {
    background-color: #43a09d;
}
textarea {
    height: 100px;
}
input, textarea {
    margin-bottom: 10px;
    font-size: 11pt;
    padding: 15px 10px 10px;
    border: 1px solid #cecece;
    border-radius: 10px;
}
input:hover {
    background-color: #D79839;
}
#contacto img {
    height: 50px;
    width: 50px;
    marging-left: 7px;
    marging-right: 7px;
}
#contacto img:hover {
    opacity: 1.2;
}
#contacto {
    text-align: center;
}
